/* styles/globals.css */

/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    color: rgb(56, 59, 221);
    box-sizing: border-box;
  }
  
  /* Corpo da aplicação */
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #1b1b1b 50%, #1b1b1b 50%);
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilos para o container principal */
  h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
  }
  
  /* Botões principais */
  button {
    border: none;
  }


  /* styles/globals.css */
.session-expired-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 16px;
  z-index: 1000;
}
