/* styles/globals.css */

/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da aplicação */
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #0a0649 50%, #ffffff 50%);
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Estilos para o container principal */
  h1 {
    text-align: center;
    font-size: 2rem;
    color: #db0505;
  }
  
  /* Botões principais */
  button {
    border: none;
  }
